<div class="dark">
  <div class="hidden-lg hidden-md digg_pagination">
    <%= will_paginate @photos, inner_window: 0, outer_window: 0 %>
  </div>
</div>

<div class="hidden-sm hidden-xs digg_pagination">
  <%= will_paginate @photos, inner_window: 3, outer_window: 1 %>
</div>

<!-- mobile -->
<div class="hidden-lg hidden-md"  style="width:100%;">
  <div class="row">
      <% @photos.each do |photo| %>
        <%= link_to "http://flickr.com/photo.gne?id=#{photo.id}" do %>
          <%= image_tag photo.source_url, class: 'img-responsive center' %>
        <% end %>
      <% end %>
  </div>
</div>

<!-- desktop -->
<div class="hidden-sm hidden-xs center-box">
</div>
<div class="hidden-sm hidden-xs center-box">
  <% @photos.each do |photo| %>
    <%= link_to "http://flickr.com/photo.gne?id=#{photo.id}" do %>
      <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}", class: 'photo' %>
      <%#= photo.id %>
    <% end %>
  <% end %>
</div>

<div class="hidden-lg hidden-md digg_pagination dark" style="display:block;">
  <%= will_paginate @photos, inner_window: 0, outer_window: 0 %>
</div>

<div class="hidden-sm hidden-xs digg_pagination">
  <%= will_paginate @photos, inner_window: 3, outer_window: 1 %>
</div>
