<h4>Find any Flickr user's photos and info.</h4>
<h4>Search using any valid details,</h4>
<h4>or just use a suggested value.</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:find_by, url: info_path, method: :get) do |f| %>

      <div style="height:20px;"></div>
      <%= f.text_field :id, class: 'form-control field', style: "width:80%;margin-left:10%;color:black;", value: "24448805@N07" %>

      <%= f.submit "find by user ID", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:find_by, url: info_path, method: :get) do |f| %>

      <h4>OR</h4>
      <%= f.text_field :username, class: 'form-control field', style: "width:80%;margin-left:10%;color:black;", value: "Tony Shi Photos" %>

      <%= f.submit "find by username", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
