<%= "username: #{@info.username}" %><br>
<%= "real name: #{@info.real_name}" %><br>
<%= "total n of public photos: #{@info.photos_count}" %><br>
<%= "n of photos returned: #{@total}" %><br>
<%= will_paginate @photos %>


<div class="d-block d-md-none"  style="width:100%;">
  <%= "MOBILE" %>
  <div class="row">
      <% @photos.each do |photo| %>
        <%= image_tag photo.source_url, class: 'img-responsive' %>
      <% end %>
  </div>
</div>
<%= will_paginate @photos %>
