<%= "username: #{@info.username}" %><br>
<%= "real name: #{@info.real_name}" %><br>
<%= "total n of public photos: #{@info.photos_count}" %><br>
<%= "n of photos returned: #{@total}" %><br>
<span class="digg_pagination" style="max-width:100%;">
  <%= will_paginate @photos, inner_window: 1, outer_window: 1 %>
</span>

<!-- mobile -->
<div class="hidden-lg hidden-md"  style="width:100%;">
  <div class=" row">
      <% @photos.each do |photo| %>
        <%= image_tag photo.source_url, class: 'img-responsive center' %>
      <% end %>
  </div>
</div>

<!-- desktop -->
<div class="hidden-sm hidden-xs center-box">
</div>
<div class="hidden-sm hidden-xs center-box">
  <% @photos.each do |photo| %>
    <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}", class: 'photo' %>
    <%#= photo.id %>
  <% end %>
</div>

<div style="display:block;">
  <%= will_paginate @photos %>
</div>
